.container1 {
    background-color: black;
    text-align: center;
    color: white;
}

.product-icon {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.icon-content {
    padding-bottom: 8px;

}

.body-card {
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
    margin: auto;
    padding: 30px;
}

.grid-item {
    border: 1px solid gray;
    border-radius: 5px;

}

.card-img {
    width: 100%;
    height: 225px;
}

.see-btn {
    color: blue;
}

.title {
    font-size: 25px;
    font-weight: 200;
}

.text {
    font-size: 18px;
}

.white-color {
    color: white;
}

.muted-color {
    color: wheat;
}

del {
    color: red;
}

.buttons {
    display: flex;
    justify-content: end;
    margin-right: 15px;
}

.rbutton {
    color: blue;
}

.addBtn {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.container3,
.container2 {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 460px) {
    .grid-container {
        grid-template-columns: auto;
    }
}